.section {
  max-width: 1440px;
  width: 100%;
  height: 600px;
  background-image: url("../../assets/images/BusinessCard.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 80px;
}

.wrapper {
  max-width: 1000px;
  padding: 80px 0 210px;
  margin-left: 40px;
}

.title {
  font-family: "Montserrat";
  font-size: 96px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 40px;
}

.button:global(.MuiButton-root) {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  background-color: #0d50ff;
  border-radius: 6px;
  box-shadow: none;
  padding: 16px 56px;
}

.button:global(.MuiButton-root):hover {
  background-color: #000;
}

@media (max-width: 768px) {
  .title {
    font-size: clamp(44px, 10vh, 96px);
  }

  .wrapper {
    padding-bottom: 120px;
  }

  .button {
    font-size: 18px;
  }

  .contained {
    padding: 14px 40px;
  }
}
