.card.mui {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: none;
    overflow: hidden;
    cursor: pointer;
}

.card:hover {
    -webkit-box-shadow: 10px 9px 14px -9px rgba(34, 60, 80, 0.18);
    -moz-box-shadow: 10px 9px 14px -9px rgba(34, 60, 80, 0.18);
    box-shadow: 10px 9px 14px -9px rgba(34, 60, 80, 0.18);
}

.badge {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    color: #fff;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.6px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #0d50ff;
}

.image {
    height: 284px;
}

.mediaWrapper.mui {
    position: relative;
    overflow: hidden;
}

.addButton.mui {
    position: absolute;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #fff;
    text-transform: none;
    background-color: #0d50ff;
    border-radius: 6px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    padding: 16px 32px;
    opacity: 0;
    transform: translate(100%);
    transition: background-color 0.3s, opasity 0.3s, transform 0.3s;
    pointer-events: none;
}

.card:hover .addButton.mui {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.addButton:hover {
    background-color: #000;
}

.cardContent.mui {
    padding: 20px 32px 32px 32px;
    border-top: 1px solid #ddd;
}

.cardContent.mui:last-child {
    padding-bottom: 32px;
}

.name.mui {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #282828;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 16px;
}

.prices {
    display: flex;
    align-items: end;
    gap: 16px;
}

.oldPrece.mui {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: #8b8b8b;
    text-decoration: line-through;
}

.newPrice.mui {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    color: #282828;
}