.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #8b8b8b;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 16px;
}

.input::placeholder {
  color: #8b8b8b;
  opacity: 1;
}

.input:focus-visible {
  outline: 2px solid #8b8b8b;
  outline-offset: 2px;
}

.error {
  border-color: #ff4d4f;
}

.errorMessage {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #ff4d4f;
  margin-top: -8px;
  margin-bottom: 8px;
}

.button {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  background-color: #0d50ff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
}

.button:hover {
  background-color: #000;
}

.button.submitted {
  background-color: #fff;
  border: 1px solid#282828;
  color: #282828;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
