.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 0;
}

.botton.mui {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #8b8b8b;
  text-transform: none;
  border-color: #ddd;
  border-radius: 6px;
  margin-top: 9px;
  transition: all 0.3s;
}

.botton.mui:hover {
  background-color: #282828;
  color: #fff;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #ddd;
  margin-left: 32px;
  margin-top: 9px;
}

@media (max-width: 768px) {
  .buttonWrapper {
    display: none;
  }

  .title {
    font-size: clamp(44px, 9vh, 64px);
  }
}
