.wrapper.mui {
  width: 100%;
  display: grid;
  grid-template-columns: clamp(80px, 14vw, 200px) clamp(520px, 42vw, 548px) minmax(
      100px,
      1fr
    );
  grid-template-areas: "left image imfo";
  gap: 32px;
  margin-bottom: 82px;
}

.left.mui {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: left;
}

.thumb {
  max-width: 200px;
  width: 100%;
  height: auto;
  max-height: 180px;
  aspect-ratio: 200 / 180;
  border-radius: 12px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.thumb img {
  max-width: 200px;
  width: 100%;
  max-height: 180px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.thumb:hover img {
  transform: scale(1.1);
}

.imageWrapper.mui {
  max-width: 548px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: image;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 548 / 572;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.imageWrapper.mui:hover .mainImage {
  transform: scale(1.8);
}

.info.mui {
  max-width: 548px;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: info;
  margin-top: -640px;
}

.title.mui {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: #282828;
  letter-spacing: 1.2px;
  margin-bottom: 32px;
}

.titleMobile.mui {
  display: none;
  grid-area: title;
  margin-bottom: 0;
}

.prices.mui {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.newPrice.mui {
  font-family: "Montserrat";
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: #282828;
}

.oldPrice.mui {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  color: #8b8b8b;
  text-decoration: line-through;
}

.badge.mui {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  background-color: #0d50ff;
  border-radius: 6px;
  align-self: flex-start;
  padding: 4px 8px;
}

.controls.mui {
  display: flex;
  align-items: center;
  gap: clamp(22px, 2vw, 32px);
  margin-bottom: 32px;
}

.addButton.mui {
  font-family: "Montserrat";
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-wrap: nowrap;
  background-color: #0d50ff;
  border-radius: 6px;
  box-shadow: none;
  padding: 16px clamp(65px, 7vw, 97px);
}

.addButton.mui:hover {
  background-color: #000;
}

.descTitle.mui {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #282828;
  margin-bottom: 16px;
}

.description.mui {
  max-height: 184px;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.1;
  color: #282828;
  overflow: hidden;
  margin-bottom: 32px;
}

.expanded.mui {
  max-height: none;
}

.readMoraBtn.mui,
.hideBtn.mui {
  min-width: auto;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: #282828;
  text-align: left;
  text-transform: none;
  align-self: flex-start;
  text-decoration-line: underline;
  text-underline-position: from-font;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 16px;
}

@media (max-width: 1200px) {
  .wrapper.mui {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image info"
      "left info";
    height: auto;
  }

  .left.mui {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
  }

  .thumb {
    width: clamp(100px, 15vw, 200px);
    height: clamp(80px, 15vw, 180px);
    aspect-ratio: 200 / 180;
  }

  .info.mui {
    max-width: none;
  }

  .controls.mui {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .addButton.mui {
    width: 100%;
    font-size: 18px;
    padding: 16px 40px;
  }
}

@media (max-width: 768px) {
  .wrapper.mui {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "image"
      "left"
      "imfo";
    gap: 32px;
    margin-top: 60px;
  }

  .titleMobile.mui {
    display: block;
    text-align: center;
    margin-bottom: -10px;
  }

  .destopTitle.mui {
    display: none;
  }

  .imageWrapper.mui {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .left.mui {
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: -32px;
    margin-bottom: 32px;
  }

  .mainImage {
    height: auto;
  }

  .prices {
    margin: 0 auto;
  }

  .controls.mui {
    align-items: center;
    gap: 24px;
  }

  .addButton.mui {
    width: auto;
    font-size: 16px;
    padding: 20px 97px;
  }
}
