.header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: #282828;
  padding: 30px 0 28px;
}

.container {
  max-width: 1440px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
}

.action {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #374151;
  transition: color 0.2s ease;
}

.link:hover:not(.activa) {
  color: #8b8b8b;
}

.active {
  color: #0d50ff;
}

.drawer {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.cartLink {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #374151;
}

.cart {
  display: inline-block;
  transform-origin: top center;
}

.cart:hover {
  animation: bag-wobble 0.4s ease-in-out 1;
}

.cartAnimated {
  animation: bag-wobble 0.4s ease-in-out 1;
}

@keyframes bag-wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.badge :global(.muiBage-badge) {
  width: 26px;
  height: 26px;
  font-size: 12px;
  font-weight: 600;
  line-height: 0.9;
  color: #fff;
  text-align: center;
  background-color: #0d50ff;
  border-radius: 50px;
  padding: 7px;
  top: 19px;
  right: 36px;
}

@media (max-width: 768px) {
  .action {
    gap: 20px;
  }
}
