.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal {
  max-width: 548px;
  position: relative;
  background: #0d50ff;
  border-radius: 12px;
  padding: 32px;
}

.close {
  position: absolute;
  top: 26px;
  right: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  color: #fff;
  margin: 0 0 24px 0;
}

.text {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: #fff;
  margin: 0;
}

.text:first-of-type {
  margin-bottom: 20px;
}
