.quantityButtos.mui {
  display: flex;
}

.quantityCounter.mui.styleClash {
  height: 58px;
  width: clamp(76px 6vh, 96px);
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #282828;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  margin-left: -8px;
}

.quantityMinus.mui {
  height: 58px;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-width: 58px;
}

.quantityPlus.mui {
  height: 58px;
  padding: 17px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-width: 58px;
  margin-left: -8px;
}

@media (max-width: 1200px) {
  .fullWidth.mui {
    width: 100%;
  }

  .quantityMinus.mui,
  .quantityPlus.mui {
    height: 52px;
    min-width: 52px;
    padding: 14px;
  }

  .quantityCounter.mui.styleClash {
    width: 100px;
    height: 52px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .quantityButtos.mui {
    justify-content: center;
  }

  .quantityMinus.mui,
  .quantityPlus.mui {
    height: 58px;
    min-width: 58px;
    padding: 12px;
  }

  .quantityCounter.mui.styleClash {
    width: 120px;
    height: 58px;
    font-size: 16px;
  }
}
