.container {
  max-width: 1440px;
  margin: 40px auto 0;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .title {
    font-size: clamp(50px, 7vw, 64px);
    text-align: center;
    margin-top: 60px;
  }
}
