.container {
  max-width: 1440px;
  margin: 0px auto 80px;
  text-align: center;
}

.contentWrapper {
  max-width: 691px;
  margin: 0 auto;
}

.title {
  margin-bottom: 16px;
}

.text {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: #8b8b8b;
  margin-bottom: 32px;
}

.button {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #8b8b8b;
  text-transform: none;
  background-color: #0d50ff;
  border-radius: 6px;
  box-shadow: none;
}

.button:hover {
  background-color: #000;
}
